p Check out latest investments and change investment settings

.columns
  .col.span-8-of-12
    data-table(tableId="adventures", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="filterMapping")
      ng-container(columnDef="Invester")
        header-cell(*headerCellDef="", sortProperty="Invester.Username") Username
        data-cell(*dataCellDef="let record")
          user-display([user]="record.Invester")

      ng-container(columnDef="Invested")
        header-cell(*headerCellDef="", sortProperty="Invested") Invested
        data-cell(*dataCellDef="let record") {{record.Invested | points | async}}

      ng-container(columnDef="Interest")
        header-cell(*headerCellDef="", sortProperty="Interest") Interest
        data-cell(*dataCellDef="let record") {{record.Interest * 100}}%

      ng-container(columnDef="Project")
        header-cell(*headerCellDef="", sortProperty="Project") Project
        data-cell(*dataCellDef="let record") {{record.Project}}

      ng-container(columnDef="Payout")
        header-cell(*headerCellDef="", sortProperty="Payout") Payout
        data-cell(*dataCellDef="let record") {{record.Payout | points | async}}

      ng-container(columnDef="Date")
        header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
        data-cell(*dataCellDef="let record") {{record.Date | date}}

      ng-container(columnDef="#Actions", [buttonsColumn]="1")
        header-cell(*headerCellDef="") &nbsp;
        data-cell(*dataCellDef="let record")
          a.mat-icon-button.pull-right(mat-button, color="warn", (click)="deleteRecord(record)", matTooltip="Delete Record")
            mat-icon delete_forever

  .col.span-4-of-12
    form(#investmentsSettingsForm="", (submit)="saveSettings()")
      mat-card
        mat-card-header
          mat-card-title Investments Settings
          mat-card-subtitle &nbsp;

        mat-card-content
          mat-form-field
            input#investment-duration(matInput, type="number", name="investment-duration",
            placeholder="Investment Duration", required="true", [formControl]="investmentDurationControl")
            mat-hint The time it takes for an investment to complete in milliseconds ({{investmentDurationControl.value | time}})
            mat-error(*ngIf="investmentDurationControl.hasError('required')") This field is required!
            mat-error(*ngIf="investmentDurationControl.hasError('min')") Please enter a valid amount (above 60000).

          mat-form-field
            input#investment-min-interest(matInput, type="number", name="investment-min-interest",
            placeholder="Minimum Interest", required="true", [formControl]="minInterestControl")
            mat-hint The minimum interest percentage in decimal, so 20% would be 0.2
            mat-error(*ngIf="minInterestControl.hasError('required')") This field is required!
            mat-error(*ngIf="minInterestControl.hasError('min') || minInterestControl.hasError('max')") Please enter a valid amount (between 0.01 and 1).

          mat-form-field
            input#investment-max-interest(matInput, type="number", name="investment-max-interest",
            placeholder="Maximum Interest", required="true", [formControl]="maxInterestControl")
            mat-hint The maximum interest percentage in decimal, so 20% would be 0.2
            mat-error(*ngIf="maxInterestControl.hasError('required')") This field is required!
            mat-error(*ngIf="maxInterestControl.hasError('min') || maxInterestControl.hasError('max')") Please enter a valid amount (between 0.01 and 1).

        mat-card-actions
          save-button([disabled]="!isSettingsFormOk", [stateEmitter]="_investmentSettingsClient.afterSave")
          button(mat-button, type="button", (click)="initSettingsFields()", matTooltip="Refresh data")
            mat-icon refresh