p Check out the latest subscribers and change the behaviour of Biliomi when new subscribers are registered.

.columns
  .col.span-8-of-12
    p Latest Subscribers

    data-table(tableId="latest-subscribers", [dataSource]="latestSubscribersDataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
      ng-container(columnDef="Username")
        header-cell(*headerCellDef="", sortProperty="Username") Username
        data-cell(*dataCellDef="let user")
          user-display([user]="user")

      ng-container(columnDef="Subscriber Since")
        header-cell(*headerCellDef="", sortProperty="SubscribeDate", [sortDefault]="'DESC'") Subscriber Since
        data-cell(*dataCellDef="let user")
          | {{user.SubscribeDate | date}}

  .col.span-4-of-12
    p &nbsp;

    form(#subscriberWatchSettingsForm="", (submit)="saveSettings()")
      mat-card
        mat-card-header
          mat-card-title Subscriber Watch Settings
          mat-card-subtitle &nbsp;

        mat-card-content
          mat-form-field
            input#subscriber-watch-settings-tier1-payout(matInput, type="number", name="subscriber-watch-settings-tier1-payout",
            placeholder="Tier 1 Reward", required="true", [formControl]="subscriberRewardTier1Control")
            mat-hint The amount of points to payout to tier 1/prime subscribers.
            mat-error(*ngIf="subscriberRewardTier1Control.hasError('required')") This field is required!
            mat-error(*ngIf="subscriberRewardTier1Control.hasError('min')") Please enter a valid amount (min 0).

          mat-form-field
            input#subscriber-watch-settings-tier2-payout(matInput, type="number", name="subscriber-watch-settings-tier2-payout",
            placeholder="Tier 2 Reward", required="true", [formControl]="subscriberRewardTier2Control")
            mat-hint The amount of points to payout to tier 2 subscribers.
            mat-error(*ngIf="subscriberRewardTier2Control.hasError('required')") This field is required!
            mat-error(*ngIf="subscriberRewardTier2Control.hasError('min')") Please enter a valid amount (min 0).

          mat-form-field
            input#subscriber-watch-settings-tier3-payout(matInput, type="number", name="subscriber-watch-settings-tier3-payout",
            placeholder="Tier 3 Reward", required="true", [formControl]="subscriberRewardTier3Control")
            mat-hint The amount of points to payout to tier 3 subscribers.
            mat-error(*ngIf="subscriberRewardTier3Control.hasError('required')") This field is required!
            mat-error(*ngIf="subscriberRewardTier3Control.hasError('min')") Please enter a valid amount (min 0).

          .mat-button-row.mat-button-row-blocks
            edit-template-button(templateKey="SubscriberSubNotice") Edit New Subscriber Notice
            edit-template-button(templateKey="SubscriberResubNotice") Edit Resubscribe Notice

        mat-card-actions
          button(mat-raised-button, color="primary", [disabled]="!isSettingsFormOk", title="Save")
            mat-icon done
          button(mat-button, type="button", (click)="initSettingsFields()", title="Refresh data")
            mat-icon refresh
